@font-face {
  font-family: "lato";
  src: url(/assets/fonts/lato-Regular-woff.woff) format(woff), url(/assets/fonts/lato-Regular-woff-2.woff2) format(woff2);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
.font-lato {
  font-family: "lato", Arial, Helvetica, sans-serif;
}

.header1 {
  font-size: 56px;
  line-height: 62px;
}

.header2 {
  font-size: 48px;
  line-height: 58px;
}

.header3 {
  font-size: 40px;
  line-height: 48px;
}

.header4 {
  font-size: 32px;
  line-height: 42px;
}

.header5 {
  font-size: 28px;
  line-height: 38px;
}

.header6 {
  font-size: 24px;
  line-height: 34px;
}

.header7 {
  font-size: 18px;
  line-height: 22px;
}

.color-red {
  color: #8A0021;
}

.color-blue-100 {
  color: #093857;
}

.color-black-gray {
  color: #555555;
}

.theme-btn {
  font-size: 18px;
  line-height: 21px;
  padding: 18px 32px;
  background-color: #8A0021;
  color: #ffffff;
  border: 1px solid #8A0021;
}

.theme-btn-outline {
  transition: all 0.3s linear;
  font-size: 20px;
  line-height: 22px;
  padding: 18px 32px;
  background-color: #ffffff;
  color: #093857;
  border: 1px solid #8A0021;
}
.theme-btn-outline:hover {
  background-color: #8A0021;
  color: #ffffff;
  transition: all 0.3s linear;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.custom-navbar .nav-container {
  max-width: 1770px;
  width: 100%;
}
.custom-navbar .navbar-brand {
  padding-right: 54px;
}
.custom-navbar .nav-link::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #8A0021;
  bottom: 0;
  left: 0;
}
.custom-navbar .nav-link:hover {
  color: #8A0021;
}
.custom-navbar .nav-link:hover::after {
  width: 100%;
  transition: all 0.3s linear;
}
.custom-navbar .search-div {
  height: 100%;
  min-width: 380px;
}
.custom-navbar .search-div .s-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #B6B6B6;
}
.custom-navbar .order-now-btn {
  margin-left: 45px;
  padding: 16px 26px;
}

.banner-section::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 2px;
  background: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.banner-section .img-p-div::after {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.banner-section .banner-content {
  transform: translate(-50%, -50%);
  z-index: 9;
}

.signup-section {
  background-image: url("../images/form-bg.jpg");
  width: 100%;
  min-height: 760px;
  height: 100%;
  position: relative;
  z-index: 10;
  /* styling of Input */
  /* Hover on Input */
}
.signup-section::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -9;
}
.signup-section .form-bg {
  background-color: #D7AC9E;
}
.signup-section .form {
  --border-height: 1px;
  position: relative;
  display: block;
}
.signup-section .input {
  background-color: transparent;
  width: 100%;
  padding-block: 12px;
  border: none;
  border-bottom: 1px solid #555555;
}
.signup-section input:hover {
  background: rgba(0, 0, 0, 0.1);
}
.signup-section input:focus {
  outline: none;
}

.newsletter-section {
  background-image: url(../images/newsletter-bg-img.jpg);
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.chef-section .card {
  background-color: rgba(215, 172, 158, 0.3);
}
.chef-section .card .chef-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: rgba(215, 172, 158, 0.3);
}
.footer .social-icon-link {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #212121;
  color: #ffffff;
}

.copyright-link {
  background-color: #A47667;
}

.slick-prev.slick-arrow {
  left: 0;
}

.slick-next.slick-arrow {
  right: 0;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(149deg) brightness(120%) contrast(99%);
}

@media (max-width: 991px) {
  .custom-navbar .search-div {
    min-width: 280px;
  }
  .custom-navbar .order-now-btn {
    margin-left: 0;
  }
}
.box-main-slider .slide {
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 30px;
  transition: 0.5s all;
  transform: scale(0.5);
}

.box-main-slider .slick-now .slide {
  transform: scale(1.5);
}

.box-main-slider .w-100 {
  width: 100%;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.slick-next.slick-arrow {
  right: 50px;
}/*# sourceMappingURL=style.css.map */