@mixin header1 {
    font-size: 56px;
    line-height: 62px;
}
@mixin header2 {
    font-size: 48px;
    line-height: 58px;
}
@mixin header3 {
    font-size: 40px;
    line-height: 48px;
}
@mixin header4 {
    font-size: 32px;
    line-height: 42px;
}
@mixin header5 {
    font-size: 28px;
    line-height: 38px;
}
@mixin header6 {
    font-size: 24px;
    line-height: 34px;
}

$font18 : 18px;
$font16 : 16px;

$color-white : #ffffff;
$color-red : #8A0021;
$color-blue-100 : #093857;
$color-blue-200 : #3F6D8A;
$color-brown-100 : #A47667;
$color-brown-200 : #D7AC9E;

@mixin btn-primary {
    font-size: 18px;
    line-height: 21px;
    padding: 18px 32px;
    background-color: $color-red;
    color: $color-white;
    border: 1px solid $color-red;
}

@mixin btn-outline {
    font-size: 20px;
    line-height: 22px;
    padding: 18px 32px;
    background-color: $color-white;
    color: $color-blue-100;
    border: 1px solid $color-blue-100;
}



.btn-primary{@include btn-primary}
.btn-outline{@include btn-outline}

