@use "variable";



.header1 {
  font-size: $font56;
  line-height: $lineHeight62;
}
.header2 {
  font-size: $font48;
  line-height: $lineHeight58;
}
.header3 {
  font-size: $font40;
  line-height: $lineHeight48;
}
.header4 {
  font-size: $font32;
  line-height: $lineHeight42;
}
.header5 {
  font-size: $font28;
  line-height: $lineHeight38;
}
.header6 {
  font-size: $font24;
  line-height: $lineHeight34;
}
.header7 {
  font-size: $font18;
  line-height: $lineHeight22;
}


// 1399
@media(max-width:$widthxxl){
  
}

// 1199
@media(max-width:$widthxl){
  .header1 {
    font-size: 42px;
    line-height: 50px;
  }
  .header2 {
    font-size: $font48;
    line-height: $lineHeight58;
  }
  .header3 {
    font-size: $font40;
    line-height: $lineHeight48;
  }
  .header4 {
    font-size: $font32;
    line-height: $lineHeight42;
  }
  .header5 {
    font-size: $font28;
    line-height: $lineHeight38;
  }
  .header6 {
    font-size: $font24;
    line-height: $lineHeight34;
  }
  .header7 {
    font-size: $font18;
    line-height: $lineHeight22;
  }

}

// 991
@media(max-width:$widthlg){

}

// 768
@media(max-width:$widthmd){

}

// 576
@media(max-width:$widthsm){
  .header2 {
    font-size: 26px;
    line-height: 20px;
  }
}
