
@mixin btn-spacing{
  font-size: $font16;
  line-height: 21px;
  padding: 18px 32px;
}
@mixin btn-primary {
  @include btn-spacing;
  background-color: $color-red;
  color: $color-white;
}
@mixin btn-outline {
  @include btn-spacing;
  background-color: $color-white;
  color: $color-blue-100;
  border: 1px solid $color-red;
}

@mixin round($size, $radius : 50%){
  width: $size;
  height: $size;
  border-radius: $radius;
}

