$widthxxl: 1399px;
$widthxl: 1199px;
$widthlg: 991px;
$widthmd: 768px;
$widthsm: 576px;

$font56: 56px;
$lineHeight62: 62px;
$font48: 48px;
$font48xl: 10px;
$lineHeight58: 58px;
$font40: 40px;
$lineHeight48: 48px;
$font32: 32px;
$lineHeight42: 42px;
$font28: 28px;
$lineHeight38: 38px;
$font24: 24px;
$lineHeight34: 34px;
$lineHeight22: 22px;

$font18: 18px;
$font16: 16px;

$p50: 50px;
$p100: 100px;

$color-black: #000000;
$color-black-gray: #555555;
$color-black-footer : #212121;
$color-white: #ffffff;
$color-red: #8a0021;
$color-blue-100: #093857;
$color-blue-200: #3f6d8a;
$color-brown-100: #a47667;
$color-brown-200: #d7ac9e;
$color-white-w-opacity : rgba(255, 255, 255, 0.7);

$bg-pink: rgba(215, 172, 158, 0.3);
$filter-white: invert(100%) sepia(0%) saturate(7483%) hue-rotate(149deg) brightness(120%) contrast(99%);

