
@font-face {
    font-family: "lato";
    src: url(/assets/fonts/lato-Regular-woff.woff) format(woff),
      url(/assets/fonts/lato-Regular-woff-2.woff2) format(woff2);
    font-style: normal;
    font-weight: "normal";
    font-display: swap;
  }
  @font-face {
    font-family: "cardo";
    src: url(/assets/fonts/Cardo/Cardo-Regular.woff) format(woff),
      url(/assets/fonts/Cardo/Cardo-Regular.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "cardo-bold";
    src: url(/assets/fonts/Cardo/Cardo-Bold.woff) format(woff),
      url(/assets/fonts/Cardo/Cardo-Bold.woff2) format(woff2);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
      font-family: "cormorant-medium";
      src: url(/assets/fonts/CormorantGaramond-Medium.woff) format(woff),
        url(/assets/fonts/CormorantGaramond-Medium.woff2) format(woff2);
      font-style: normal;
      font-weight: 500;
      font-display: swap;
  }
  @font-face {
      font-family: "josefin-sans";
      src: url(/assets/fonts/Josefin_Sans/JosefinSans-Regular.woff) format(woff),
        url(/assets/fonts/Josefin_Sans/JosefinSans-Regular.woff2) format(woff2);
      font-style: normal;
      font-weight: 400;
      font-display: swap;
  }

  .font-lato {
    font-family: "lato", Arial, Helvetica, sans-serif;
  }
  .font-cardo {
    font-family: "cardo", Arial, Helvetica, sans-serif;
  }
  .font-cardo-bold {
    font-family: "cardo-bold", Arial, Helvetica, sans-serif;
  }
  .font-cormorant-medium {
    font-family: "cormorant-medium", Arial, Helvetica, sans-serif;
  }
  .font-jospfin-sans {
    font-family: "josefin-sans", Arial, Helvetica, sans-serif;
  }
  html,
  body {
    font-family: "lato", Arial, Helvetica, sans-serif;
  }